/* This code is only meant for previewing your Reflow design. */
.wrapper {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

body {
    background-image: url("../img/bodyimg.jpg");
    background-attachment: fixed;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
    opacity: 1;
}

.theme {
    float: none;
    font-size: 1.5em;
    width: 85.13700116545434%;
    height: auto;
    text-align: left;
    font-weight: 700;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 7.20427601173492%;
    margin-top: 30px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    margin-right: auto;
    font-style: normal;
    text-shadow: rgba(0, 0, 0, 0.458824) 2px 2px 1px;
}

.container {
    float: left;
    height: auto;
    margin-left: 7.20427601173492%;

    clear: none;
    width: 85.13700116545434%;
    background-attachment: scroll;
    background-size: auto;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px outset rgba(0, 0, 0, 0.85);
    border-color: rgba(0, 0, 0, 0.85);
    background-position: 0% 0%;
    background-repeat: repeat repeat;
    background-color: #8ad3f4;
    opacity: 0.9;
}

.conthead {
    height: 120px;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: rgba(63, 106, 152, 0.85);
    margin-left: -15px;
    margin-right: -15px;
}
.conthead.services{
    background-color: #0000cc;
    background-image: url('../img/bannerservices.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    opacity: 0.9;
}
.conthead.about{
    background-color: #005580;
    background-image: url('../img/bannerabout.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    opacity: 0.9;
}
.conthead.skills{
    background-color: #005580;
    background-image: url('../img/bannerskills.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    opacity: 0.9;
}
.conthead.contact{
    background-color: #ffffff;
    background-image: url('../img/bannercontact.jpg');
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.9;
}
.conthead.home{
    background-color: #ffffff;
    background-image: url('../img/bannerhome.jpg');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size:100%;
    opacity: 0.4;


}
.conthead.projects{
    background-color: #ffffff;
    background-image: url('../img/bannerprojects.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    opacity: 0.9;
}
.conthead.skills{
    background-color: chocolate;
    background-image: url("../img/bannerskills.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    opacity: 0.4;
}
.content {
    float: left;
    height: auto;
    margin-left: 8%;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: none;
    width: 84.31076923076922%;
    border: 1px dashed rgba(0, 0, 0, 0.51);
}
.content-home{
    float: left;
    font-size: 1em;
    width: 94.12132352941175%;
    height: 380px;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin: 0px 0px 0px 0px;
    clear: both;
    min-height: 100%;
    min-width: 100%;
    background-size: auto;
    opacity: 1;
}
.content-text {
    float: left;
    font-size: 1em;
    width: 94.12132352941175%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin: 12px 12px 12px 8px;
    clear: both;
    min-height: 0px;
    min-width: 0px;
}

.content-header {
    float: left;
    font-size: 1em;
    width: 94.12132352941175%;
    height: auto;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 8px;
    margin-top: 12px;
    clear: none;
    min-height: 0px;
    min-width: 0.5em;
    margin-right: 12px;
    text-decoration: underline;
}

.pnormal {
    font-size: 1em;
    font-weight: normal;
    margin-inside: 7px;
}

form label {
    float: left;
    margin-left: 1%;
    clear: both;
}

form input {
    margin-right: 1%;
    width: 63%;
    float: right;
}

form textarea {
    margin-right: 1%;
    width: 63%;
    float: right;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: tahoma, verdana, "sans-serif";
    color: #5e5b64;
    text-align: center;
}

a, a:visited {
    outline: none;
    color: #389dc1;
}

a:hover {
    text-decoration: none;
}

section, footer, header, aside, nav {
    display: block;
}

/*-------------------------
	The menu
--------------------------*/

nav {

    display: inline-block;
    margin: 60px auto 45px;
    background-color: rgba(18, 92, 165, 0.42);
    /*box-shadow: 0 1px 1px #ccc;*/
    border-radius: 2px;
    width: 85.13700116545431%;
}

nav a {
    display: inline-block;
    padding: 18px 30px;
    color: #fff !important;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none !important;
    line-height: 1;
    text-transform: uppercase;
    background-color: transparent;

    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    transition: background-color 0.25s;
}

nav a:first-child {
    border-radius: 2px 0 0 2px;
}

nav a:last-child {
    border-radius: 0 2px 2px 0;
}

nav.home .home,
nav.projects .projects,
nav.services .services,
nav.skills .skills,
nav.contact .contact,
nav.about .about {
    background-color: #3f6a98;
}

p {
    font-size: 22px;
    font-weight: bold;
    color: #51555e;
}

p b {
    color: #ffffff;
    display: inline-block;
    padding: 5px 10px;
    background-color: #c4d7e0;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 18px;
}

#main {

    position: relative;
    margin-top: -42px;
    margin-left: -2px;
    margin-right: 2px;
    margin-bottom: -40px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    vertical-align: text-bottom;

}
@media only screen and (max-width: 600px) {
    table, td, tr {
        display: block;
    }
    th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ddd;
    }
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 30%;
    }
    td:before {
        position: absolute;
        top: 10px;
        left: 3px;
        width: 30%;
    }
    td:nth-of-type(1):before { content: ""; }
    td:nth-of-type(2):before { content: ""; }
    td:nth-of-type(3):before { content: ""; }

}