
<div class='conthead about' id="divabout">

</div>
<div class='content'>
<h4>Wie sehe ich mich...</h4>
    <ul id="menu" style="margin-bottom: 1px;">
        <li style="list-style-type: none;"><a href="#" class="list-group-item list-group-item-info">als Menschen?</a>
            <ul>
                <li style="list-style-type:none;">Interessiert am weltpolitischen Geschehen und fremden Kulturen.
                    Neugier und Interesse f&uuml;r Neues regen mich an zu reisen, zu lesen und mit offenen Augen durch die Welt zu wandeln.
                </li>

            </ul></li>
        <li style="list-style-type: none;"><a href="#" class="list-group-item list-group-item-info">als Mitarbeiter?</a>
            <ul>
                <li style="list-style-type:none;">Loyal, qualit&auml;ts- und verantwortungsbewusst und sehr begeisterungsf&auml;hig f&uuml;r neue Technologien.</li>

                <li style="list-style-type:none;">Loyalit&auml;t ist f&uuml;r mich ein Geben und ein Nehmen.</li>

                <li style="list-style-type:none;">Ein guter Arbeitgeber resp. Kunde verdient ein hohes Mass an Leistung seitens des Mitarbeiters.</li>

                <li style="list-style-type:none;">Mich begeistert es, Ideen und Betriebsabl&auml;ufe in programmierter Form zu abstrahieren und umzusetzen.</li>

                <li style="list-style-type:none;">Analytisches Denkverm&ouml;gen und eine schnelle Auffassungsgabe.</li>

                <li style="list-style-type:none;">Ausgepr&auml;gte Hartn&auml;ckigkeit ein schwieriges Problem zu l&ouml;sen.</li>

                <li style="list-style-type:none;">Die M&ouml;glichkeiten eines anregenden Wissenstransfers, eines gewissen Freiraums in der Entscheidungsfindung und im Vorgehen der Realisierung sind mir wichtig
                </li>
            </ul></li>
        <li style="list-style-type: none;"><a href="#" class="list-group-item list-group-item-info">in meinen Zielsetzungen?</a>
            <ul>
                <li style="list-style-type:none;">Aktiv am Erfolg des Unternehmens teilhaben.</li>

                <li style="list-style-type:none;">Ein h&ouml;chst m&ouml;gliches Mass an Qualit&auml;t erbringen.</li>

            </ul></li>

    </ul>

</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#divabout').hide();
        jQuery("#divabout").fadeIn(2000);
        jQuery("#divabout").show();
        jQuery('#menu').hide();
        jQuery("#menu").fadeIn(2000);
        jQuery("#menu").show();
    });
    function treemenu(obj) {
        if (!obj.length) return;
        obj.find("ul").each(function() {
            $(this).css("display", "none");
        });
        $("li:not(:has(ul))").find("a").addClass("leaf");
        obj.find("a").toggle(function(e) {
            e.preventDefault();
            $(this).parent().find("ul:first").slideDown(400);
            classManager($(this));
        },function(e) {
            e.preventDefault();
            $(this).parent().find("ul:first").slideUp(400);
            classManager($(this));
        });
        obj.find("a").dblclick( function() {
            window.location = $(this).attr("href");
        });
    }

    function classManager(obj) {
        if (!obj.hasClass("leaf")) {
            obj.toggleClass("selected");
        }
    }

    $(document).ready(function() {
        treemenu($("#menu"));treemenu($("#menus"));
    });
</script>