<div class='conthead contact' id="divcontact">

</div>
<div class="jumbotron" style="margin-top: 14px;margin-bottom: 14px;background-color:#ffffff;" id="divload">
    <img src="img/ajax-loader.gif" class="ajax-loader"/>
</div>
<div class="jumbotron" style="margin-top: 14px;margin-bottom: 14px;background-color:#337ab7;" id="divsent">
    <h3 class="bg-primary">Vielen Dank f&uuml;r die Mitteilung</h3>

    <div class="list-group">
        <a href="#contact" class="list-group-item list-group-item-success" id="alertservices">Zur&uuml;ck</a>
    </div>

</div>
<form id="formID" name="formID" ng-controller="FormCtrl">

    <div class='content'>
        <p class="content-header">Kontakt</p>


        <p class="pnormal">
            <label for="vorname">
                Vorname<br/><br/>
            </label>
            <input class="validate[required]" type="text"
                   placeholder="Vorname"
                   id="vorname"
                   name="vorname"
                   ng-model="signup.vorname"
                   ng-minlength=2
                   ng-maxlength=120 required />
        </p>

        <p class="pnormal">
            <label for="name">
                Name<br/><br/>
            </label>
            <input class="validate[required]" type="text"
                   placeholder="Name"
                   id="name"
                   name="name"
                   ng-model="signup.name"
                   ng-minlength=2
                   ng-maxlength=120 required />
        </p>

        <p class="pnormal">
            <label>
                Email<br/><br/>
            </label>

            <input type="email"
                   class="validate[required,custom[email]]"
                   placeholder="Email"
                   name="email" id="email"
                   ng-model="signup.email"
                   ng-minlength=3 ng-maxlength=120 required />
        </p>


        <p class="pnormal">
            <label for="message">
                Mitteilung<br/><br/>
            </label>
            <textarea class="validate[required]" name="message" id="message" placeholder="Ihre Mitteilung" ng-model="signup.message" required></textarea>


        </p>
    </div>
    <div class='content clearfix' style="border: none;">
        <button type="submit" class="btn btn-primary" style="text-align: left;" ng-click="signupForm()">abschicken</button>
        &nbsp;
        <button type="reset" class="btn btn-danger" style="text-align: left;">Felder leeren</button>
    </div>
</form>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#divsent').hide();
        jQuery("#divload").hide();
        jQuery("#formID").validationEngine();
        jQuery('#divcontact').hide();
        jQuery("#divcontact").fadeIn(2000);
        jQuery("#divcontact").show();
    });
</script>