<form id="formID">
    <div class='content clearfix'>
        <p class="content-header">Kontakt</p>


        <p class="pnormal">
            <label for="vorname">
                Vorname
            </label>
            <input id="vorname" name="vorname" class="validate[required]" type="text"/>

        <p class="pnormal">
            <label for="vorname">
                Name
            </label>
            <input id="name" name="name" class="validate[required]" type="text"/>
        </p>

        <p class="pnormal"></p>

        <p class="pnormal">
            <label>
                Email
            </label>
            <input value="" class="validate[required,custom[email]] text-input" type="text" name="email" id="email"/>
        </p>

        <p class="pnormal"></p>

        <p class="pnormal">
            <label for="message">
                Mitteilung
            </label>
            <textarea class="validate[required]" id="message" style="height:50px;"></textarea>


        </p>
    </div>
    <div class='content clearfix' style="border: none;">
        <button type="submit" class="btn btn-primary" style="text-align: left;">abschicken</button>
        &nbsp;
        <button type="reset" class="btn btn-danger" style="text-align: left;">Felder leeren</button>
    </div>
</form>
<script type="text/javascript">
    jQuery(document).ready(function () {

        jQuery("#formID").validationEngine();
        //jQuery('#formID').validationEngine('validate');
    });
</script>