<div class='conthead home' id="divhome">
</div>

<div class="jumbotron" style="margin-top: 14px;margin-bottom: 14px;background-color: #c7d8ef;" id="jumbotron">
    <h1 style="font-size: 3vw;">Willkommen bei chillgeo.ch</h1>

    <small>
    <span>Webentwicklung</span>
    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
    <span>Beratung / Konzeption</span>
    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
    <span>Analyse und Design</span>
    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
    <span>Projektentwicklung</span>
    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
    <span>Projektmitarbeit</span>
    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
    <span>Testing</span></small>

    <div class="list-group">
        <a href="#about" class="list-group-item list-group-item-info" id="alertabout">&Uuml;ber mich</a>
        <a href="#projects" class="list-group-item list-group-item-info" id="alertrefs">Projektreferenzen</a>
        <a href="#skills" class="list-group-item list-group-item-info" id="alertskills">Skills</a>
        <a href="#contact" class="list-group-item list-group-item-info" id="alertservices">Kontakt</a>
    </div>

</div>


<script type="text/javascript">

    jQuery(document).ready(function () {
        jQuery("#navmid").attr('class', 'home');
        jQuery('#jumbotron').hide();
        jQuery("#jumbotron").fadeIn(2000);
        jQuery("#jumbotron").show();
        timeOutOffset = 0;
        idsArray = ['#alertabout', '#alertrefs', '#alertskills', '#alertservices'];
        idsArray.forEach(fSlider);

    });
    function fSlider(element, index, array) {
        jQuery(element).hide();

        jQuery(element).animate({
            marginLeft: "-4000px"
        }, 0);

        jQuery(element).animate({
            marginLeft: "0px"
        }, 1000);
        jQuery(element).show();


    }
</script>