<div class='conthead projects' id="divprojects">

</div>
<div class="content" id="idprojects">
    <table class="table table" style="margin-top: 12px;margin-left:12px;width: 97%;">


    <thead>
        <tr><th colspan="3"><div id="wprojects2" style="width: 611px;">P R O J E K T E&nbsp;&nbsp;(*Selektion)</div></th></tr>
        <tr>
            <th>Projekt</th>
            <th>Beschreibung</th>
            <th>Technologien</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="vertical-align:top;">Rapport- und Statistiktools</td>
            <td style="vertical-align:top;">Diverse Rapport- und Statistiktools f&uuml;r das Kinderspital Z&uuml;rich (Intranet), im Bereich Laboranalysen, Kinderschutz und Onkologie</td>
            <td style="vertical-align:top;">HTML, CSS, Coldfusion, JavaScript, MS-SQL-Server</td>
        </tr>
        <tr>
            <td style="vertical-align:top;">StoreHelp</td>
            <td style="vertical-align:top;">Ticketing-System f&uuml;r die Migros Genossenschaft</td>
            <td style="vertical-align:top;">HTML, CSS, Coldfusion, JavaScript, MS-SQL-Server</td>
        </tr>
        <tr>
            <td style="vertical-align:top;">LL-Reports</td>
            <td style="vertical-align:top;">Erstellen von diversen Reportings im Bereich der Immobilien-Verwaltung</td>
            <td style="vertical-align:top;">Visual-Basic 6.0, List&amp;Label 11, MS-SQL-Server</td>
        </tr>
        <tr>
            <td style="vertical-align:top;">Marketing-Tools</td>
            <td style="vertical-align:top;">Erstellen von webbasierenden Marketing-Tools. Back- und Frontend</td>
            <td style="vertical-align:top;">HTML, CSS, PHP 5.0, Flash 8.0/9.0, Action-Script 2.0/3.0, MySQL.</td>
        </tr>
        <tr>
            <td style="vertical-align:top;">Jobcenter</td>
            <td style="vertical-align:top;">Wartung und Erweiterung einer Internen Insertions- und Dispositions-Anwendung.<br />Integration von Social-Media im Auftragsprozess.<br/>Mitentwicklung bei der Einf&uuml;hrung des neuen Preismodells</td>
            <td style="vertical-align:top;">HTML, CSS, Coldfusion, JavaScript, Prototype (Ajax), XML, Soap, MS-SQL-Server.<br />MVC-Entwurfsmuster, Java</td>
        </tr>
        <tr>
            <td style="vertical-align:top;">Daten-Migration</td>
            <td style="vertical-align:top;">Migration von Stammdaten und generischen Daten von der alten Insertionsapplikation zur neuen Applikation</td>
            <td style="vertical-align:top;">Java JEE, JDBC, Spring, Hibernate</td>
        </tr>
        <tr>
            <td style="vertical-align:top;" colspan="3"><i><strong>Und vieles mehr.<br /> *Die diversen einfacheren bis komplexeren erstellten Websites sind nicht aufgez&auml;hlt...</strong></i></td>
        </tr>
        </tbody>
    </table>

</div>
<script type="text/javascript">
    jQuery(document).ready(function () {

        jQuery('#divprojects').hide();
        jQuery("#divprojects").fadeIn(2000);
        jQuery("#divprojects").show();
        jQuery('#idprojects').hide();
        jQuery("#idprojects").fadeIn(2000);
        jQuery("#idprojects").show();
    });
</script>